/* 2 PROJECTS SECTION*/


/**********************************************************************************
 **********************************************************************************
 **********************************************************************************

                        MAX    1100pxpx SCREEN
                               
 **********************************************************************************
 **********************************************************************************                               
**********************************************************************************/


@media (max-width: 1100px) {
 


/**********************************************************************************
                                CONTACT FORM
**********************************************************************************/


.contact-section {

    height: 80vh;

}
 
.section-description{
    padding: 0;
}




}



/**********************************************************************************
 **********************************************************************************
 **********************************************************************************

                        MAX    1500px SCREEN
                               
 **********************************************************************************
 **********************************************************************************                               
**********************************************************************************/


@media (max-width: 500px){
    

/**********************************************************************************
                                NAV
**********************************************************************************/


    
    li {
        
        list-style: none;
        margin: 20px 5px;
        font-size: 50%;
       
    }
    
    /**********************************************************************************
                                ABOUT
**********************************************************************************/


.about-section{
    display: flex;
    flex-flow:column;
}


.about-section .about-name {
    font-size: 40px;
    font-weight: 900;
    color:#f78ea7
}

/**********************************************************************************
                                SKILLS
**********************************************************************************/



.skills-description{
    padding: 1rem 0;

}



.skills-grid {
    display: flex;
    flex-flow:column;
    margin: 0 auto;
    padding: 30px;
    }





/**********************************************************************************
                                QUOTE
**********************************************************************************/



.quote-section blockquote .quote{
    padding: 1rem 0;
}




/**********************************************************************************
                                CONTACT FORM
**********************************************************************************/


.section-description{
    padding: 1rem 0;
}

.contact-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 160vh;
    margin: 0rem 5rem 2rem 5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section .contact-me, .contact-section .form-section{
    position: relative;
    width: 120%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    height:50%;


}


}


 
/**********************************************************************************
 **********************************************************************************
 **********************************************************************************

                        MIN    1500px SCREEN
                               
 **********************************************************************************
 **********************************************************************************                               
**********************************************************************************/






@media (min-width: 1500px){
    
/**********************************************************************************
                                ABOUT
**********************************************************************************/


.about-section{
    display: flex;
    justify-content: center;
    
}

/**********************************************************************************
                                SKILLS
**********************************************************************************/





.skill-icons * {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;
}


/**********************************************************************************
                                PROJECTS
**********************************************************************************/



.grid-projects {
    display: flex;
    flex-flow:wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
    padding: 80px;
}


/**********************************************************************************
                                CONTACT FORM
**********************************************************************************/


.section-description{
    padding: 2rem 0rem;
}

}